.login h1 {
  margin: 7rem 0 2rem;
  font-size: 5rem;
}

.login form input {
  width: 30%;
  display: block;

  color: #787878;
  font-size: inherit;

  padding: 12px 32px;
  border-radius: 100rem;
  margin: 1.5rem 0rem;
  border: 2px solid #dbdbdb;
  background-color: #f2f2f2;

  transition: all 1s;
}

.login form input:focus {
  border: 2px solid #0085ff;
  background-color: #edf2f7;
}

.login form label {
  color: #a8a8a8;
}


.login form button {
  margin: 1rem 0;
}

.login footer {
  margin-top: 20rem;
}