.tweetbtn {
  max-width: 600px;
  margin: 5rem auto;
  color: #787878;
  font-size: inherit;

  padding: 10px 32px;
  border-radius: 27px;
  /* margin: 1.5rem 0rem; */
  border: 2px solid #dbdbdb;
  background-color: #f2f2f2;

  transition: all 1s;

}

.active {
  padding: 32px 32px 20px;
  border: solid 2px #0085ff;
}

.tweetbtn p {
  margin: 0;
  padding: 0 10px;
  display: inline-block;
}

.active i {
  display: none;
}

.tweetbtn form textarea {
  z-index: 10;
  font-family: "Cabin", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #787878;
  font-size: inherit;
  border: none;
  width: 100%;
  background-color: #f2f2f2;
}

.tweetbtn form button {
  margin: 1rem 0;
}