.Tweet {
  margin: 3rem 0;
}

.Tweet .author {
  color: #737373;
  font-size: 20px;
}

.Tweet .content {
  font-size: 1.66rem;
  padding: 0.75rem 0;
}

.Tweet .tweetActions button {
  background-color: #fff;
  color: #dbdbdb;
  border: none;
  transition: all 0.5s;
  font-size: 20px;
}

.Tweet .tweetActions button:hover {
  transform: scale(1.4);
  color: #737373;
}

.Tweet .tweetActions button.isLiked {
  color: #FF364E;
}

.Tweet .tweetActions button.isReply {
  color: #0085ff;
}

.Tweet .tweetActions button.isRetweet {
  color: #00D382;
}


.Tweet .tweetbtn {
  margin: 0.5rem;
}
