
.home {
  margin: 0 auto;
}

.home header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100vh;
}

.home header h1 {
  background: -webkit-linear-gradient(45deg, #0085ff, #00d382);
  background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  font-size: 5rem;
  margin-bottom: 0rem;
}

.home .intro {
  margin: 10.6rem 0px 0px;
  display: flex;
  justify-content: space-between;
}

.home .intro img {
  height: 60vh;
  width: auto;
}

.home header h2 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 5rem;
  color: #787878;
  font-weight: normal;
}

.home header a {
  margin-top: 3rem;
}

.know-more{
  text-align: center;
  color: #787878;
}

.know-more p {
  margin: 0;
  padding: 0;
}


.problems {
  margin: 10rem 0 16rem;
  color: #5C748A;
  text-align: center;
}

.problems h2 {
  color: #33404C;
}

.problems p {
  max-width: 800px;
  margin: 2rem auto;
}

.home .btn-below {
  text-align: center;
  margin: 5rem 0 0;
}

.home .btn-below h1 {
  padding: 3rem;
}

.home .btn-below .action-button {
  font-size: 40px;
  padding: 24px 64px;
}